global:
  scrape_interval:     15s # By default, scrape targets every 15 seconds.

  external_labels:
    monitor: 'production'

scrape_configs:
  # The job name is added as a label `job=<job_name>` to any timeseries scraped from this config.
  - job_name: 'node'

    static_configs:
{% for host in groups['droplets'] %}
      - targets: [ "{{ hostvars[host].private_address }}:{{ node_exporter_port }}" ]
        labels: {
          role: "{{ hostvars[host].role }}",
          node: "{{ host }}"
        }
{% endfor %}


  - job_name: 'application'
    metrics_path: "/actuator/prometheus"

    static_configs:
{% for application in groups['application'] %}
      - targets: ["{{ hostvars[application].private_address }}:{{ actuator_port }}"]
        labels: {
          role: "{{ hostvars[application].role }}",
          node: "{{ hostvars[application].inventory_hostname }}"
        }
{% endfor %}

  - job_name: 'nginx'

    static_configs:
{% for application in groups['application'] %}
      - targets: ["{{ hostvars[application].private_address }}:{{ hostvars[application].nginx_exporter_port }}"]
        labels: {
          role: "{{ hostvars[application].role }}",
          node: "{{ hostvars[application].inventory_hostname }}"
        }
{% endfor %}
