[Unit]
Description=NGINX Prometheus exporter
After=network-online.target
After=nginx.service
Wants=network-online.target

[Service]
User={{ nginx_exporter_user }}
# Group name is equal to user name
Group={{ nginx_exporter_user }}
Type=simple
WorkingDirectory={{ nginx_exporter_installation_dir }}
ExecStart={{ nginx_exporter_binary_path }} \
  --nginx.scrape-uri={{ nginx_exporter_scrape_uri }} \
  --web.listen-address={{ nginx_exporter_listen_address }}
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
